{% extends 'member-header.html' %}
{% load static %}

{% block content %}
<style>
    .col-md-8.col-md-offset-2 {
    overflow: hidden;
}

.row.mt-50 {
    margin-left: 0;
    margin-right: 0;
}
a.forgot.text-center {
    margin-top: 20px;
    display: block;
}
section.portfolio.section {
    top: -80px;
    position: relative;
}
</style>
<br><br><br><br>
<section class="portfolio section">
<div id="hero" class="hero overlay subpage-hero contact-hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Complain</h1>
            
        </div><!-- /.hero-text -->
    </div><!-- /.hero-content -->
  </div><!-- /.hero -->
{% if complains %}
<div class="row mt-50">
    <!-- <div class="col-md-8 col-md-offset-2"> -->
        <h2 class="text-center heading-separator">New Complain</h2>
        
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Subject</th>
                <th scope="col">Solve by</th>
                <th scope="col">Status</th>
                <th scope="col">Solve on</th>
              </tr>
            </thead>
            <tbody>
            {% for complain in complains %}
              <tr>
                <td>{{complain.subject}}</td>
                <td>{{complain.solve_by.name}}</td>
                <td>{{complain.solve}}</td>
                <td>{{complain.solve_on}}</td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>
        
       
    <!-- </div> -->
</div><!-- /.form -->
{% endif %}
<br><br>
</section>

{% endblock %}